.background{
    background:url('https://wallpaperaccess.com/full/3539064.jpg') ;
    background-size: cover;
    background-position:center center ;
    background-repeat: no-repeat;
    height: 100vh;
}