<div class="background "> 
  <div class="login">
    <div class="mnv"> <h1> BAHÇEDEN </h1> </div> 
<div class="container mt-5">
  <div class="row">
    <div class="cool-md-4"></div>
    <div class="cool-md-4">

      <form #frm="ngForm" (ngSubmit)="KayitYap()">

      <div class="card">
      <div class="card-header">
        <h5>Üye Kayıt Ekranı</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Ad Soyad</label>
          <input type="text" name="adsoyad" #adsoyad class="form-control" [(ngModel)]="secUye.adsoyad" required>
        </div>
<div class="form-group">
  <label>E-Posta Adresi</label>
  <input type="text" name="mail" #mail class="form-control"[(ngModel)]="secUye.mail" required>
</div>
<div class="form-group">
  <label>Parola</label>
  <input type="password" name="parola" #parola class="form-control"[(ngModel)]="secUye.parola" required>
</div>
      </div>
      <div class="card-footer"></div>
      <input type="submit" class="btn btn-outline-primary btn-block" value="Kayıt Ol" [disabled]="frm.invalid" >
      <button class="btn btn-outline-primary"  [routerLink]="[ '/login']">Giriş Yap</button>
    </div>
  </form>
    <div [ngClass]="sonuc.islem  ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
      {{sonuc.mesaj}} </div>
    </div>
  </div>
</div>
</div>
</div>