.background{
    background:url('https://images.squarespace-cdn.com/content/v1/52dd6c00e4b047cdd888c7f7/1429633423537-LSX1T6ZWZ6ZO0401TCFM/image-asset.jpeg?format=1000w') no-repeat center center fixed;
    background-size: cover;
    background-position:center center ;
    background-repeat: no-repeat;
    height: 100vh;
}